{% extends "base.html" %}

{% block content %}
  <form method="get" action="">
    <input type="text" name="q" value="{{ request.GET.q|default_if_none:'' }}" placeholder="Pesquisar">
    <button type="submit">Pesquisar</button>
  </form>

  <ul>
    {% for car in cars %}
      <li>
        <a href="{% url 'taxi:car-detail' car.pk %}">{{ car.model }}</a>
        — {{ car.manufacturer.name }}
      </li>
    {% empty %}
      <li>No cars found</li>
    {% endfor %}
  </ul>

  {% include "includes/pagination.html" %}
{% endblock %}
